<main class="d-flex">
  <!-- Sidebar -->
  <aside class="bg-black border-right p-3" id="sidebar">
    <h1 class="text-light">Gifs-App</h1>
    <hr class="text-light" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">List Item</a>
    </div>
  </aside>
  <!-- Content -->
  <section class="container">
    <article class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <form>
          <input
            type="search"
            name="search"
            id="search"
            class="form-control"
            placeholder="Buscar gifs..."
          />
        </form>
      </div>
    </article>
    <hr />
    <article class="row p-3">
      <div class="col"></div>
    </article>
  </section>
</main>
