<main class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Content -->
  <section class="container">
    <article class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <form>
          <input
            type="search"
            name="search"
            id="search"
            class="form-control"
            placeholder="Buscar gifs..."
          />
        </form>
      </div>
    </article>
    <hr />
    <article class="row p-3">
      <div class="col"></div>
    </article>
  </section>
</main>
